
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
    <link rel="@Url.Content("~/Content/bootstrap.min.css")" />
    <link rel="@Url.Content("~/Content/bootstrap-theme.min.css")" />
</head>
<body>
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading">Search</div>
            <div class="panel-body">

            </div>
        </div>
    </div>
</body>
</html>
