
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sample Overview</title>
    <link rel="@Url.Content("~/Content/bootstrap.min.css")" />
    <link rel="@Url.Content("~/Content/bootstrap-theme.min.css")" />
</head>
<body>
    <div class="container"> 
        <div class="container">
            <div class="panel panel-info">
                <div class="panel-heading">Sample Overview</div>
                <div class="panel-body">
                    <p>Welcome to the Sample Application. This sample demonstrates how to construct a Viewer application based on ASP.net MVC using the Web Extensions APIs. The application is based on a subset of the Sheboygan data set and shows how to:</p>
                    <ul>
                        <li>Connect to a Site and create a session.</li>
                        <li>Query feature data and work with geometry.</li>
                        <li>Change the view of a map from server-side script.</li>
                        <li>Read and manipulate XML based resources.</li>
                        <li>Store temporary resources within a session.</li>
                        <li>Plot a map as an EPlot DWF.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
