
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Setup</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap-theme.min.css")" />
</head>
<body>
    <div class="container">
        <h3>Setup</h3>
        <p>Select the Sheboygan package file. If the Sheboygan package has been loaded, but the sample layouts are not you can skip specifying the package file and just click <strong>Submit</strong> with Administrator credentials</p>
        @using (Html.BeginForm("LoadSampleData", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="Username" placeholder="MapGuide Username" required >
                <p class="help-block">The MapGuide Administrator user name</p>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="Password" placeholder="Password" required >
                <p class="help-block">The MapGuide Administrator password</p>
            </div>
            <div class="form-group">
                <label for="package">Package File:</label>
                <input type="file" name="Package" id="package" />
                <p class="help-block">The Sheboygan data set package file</p>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        }
    </div>
</body>
</html>

